trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  imageRepository: my-devops-app
  containerRegistry: <firstcontainer2.azurecr.io>.azurecr.io
  dockerfilePath: Dockerfile
  tag: latest

stages:
- stage: Build
  displayName: Build and Push Image
  jobs:
  - job: Build
    steps:
    - task: Docker@2
      displayName: Build and Push
      inputs:
        containerRegistry: acr-service-connection
        repository: $(imageRepository)
        command: buildAndPush
        Dockerfile: $(dockerfilePath)
        tags: |
          $(tag)
